header {
    height: 70px; 
    width: 100%; 
    border-bottom: 1px solid #CCCCCC;
    background-color: hsl(0, 0%, 100%);
    background-image: url(/web_static/images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.logo-container {
    margin-left: 20px;
};